
@media (max-width: 700px){
/* header section */

.page-header {
    display: block;    
    font-size: 18px;

}

.page-header .header .logo {
    line-height: 50px;
    float:right;
}

.page-header .nav-btn {
  display: inline-block;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 23px;
  background: transparent;
  position: relative;
  left: 90%;
  top: -66px;
  width: 40px;
}


/* navigation section */

.nav-links {
  display: none;
}


  /* The side navigation menu */

  .sidenav-mobile {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #f44336; /* Red*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .sidenav-mobile ul li {
    list-style: none;
    display: inline-block;
    padding: 11px 20px;
    position: relative;
}

  .sidenav-mobile ul li a {
    text-decoration: none;
    color:#fff;
    font-size: 18px;
}

  
  /* When you mouse over the navigation links, change their color */
  .sidenav-mobile a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav-mobile .closebtn {
    position: absolute;
    top: 0;
    left: -60px;
    font-size: 36px;
    margin-left: 50px;
  }

   .button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
   }


/* about us section */

.about-us {
  min-height: 79vh;
  width: 100%;
  background-image: linear-gradient(rgba(2, 2, 2, 0.5),rgba(2, 2, 2, 0.5)),url(/assets/images/gc-library.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-us .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us .text-box h1 {
    font-size: 35px;
}

.about-us .text-box p {
    margin: 30px 0 40px;
    font-size: 14px;
    color: #fff;
}

.about-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

}