
@media (max-width: 700px){
/* header section */
.page-header {
    display: block;    
    font-size: 18px;

}

.page-header .header .logo {
    line-height: 50px;
    float:right;
}

.page-header .nav-btn {
  display: inline-block;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 23px;
  background: transparent;
  position: relative;
  left: 90%;
  top: -66px;
  width: 40px;
}


/* navigation section */

.nav-links {
  display: none;
}


  

/* about us section */

.about-us {
  min-height: 79vh;
  width: 100%;
  background-image: linear-gradient(rgba(2, 2, 2, 0.5),rgba(2, 2, 2, 0.5)),url(/assets/images/gc-library.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-us .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us .text-box h1 {
    font-size: 35px;
}

.about-us .text-box p {
    margin: 30px 0 40px;
    font-size: 14px;
    color: #fff;
}

.about-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/* location section */

.row {
  flex-direction: column;
}
}


@media screen and (min-width: 700px) and (max-width: 1024px) {
  #mySidenav-mobile { display: none; }   /* hide it elsewhere */
}