/* header section */

.page-header {
    
    font-weight: 600;
    margin: 0px;
    padding: 20px;
    color: #000;
    font-size: 30px;
    background-color: #fff;
    height: fit-content;
    height: 55px;
    letter-spacing: 3px;
    }

.page-header .header .logo {
    line-height: 50px;
    float:right;
    font-size: 35px;
}


/* navigation section */

.nav-btn {
    display: none;
}

.navigation-bar {
    background: linear-gradient(270deg,#f8ece7 31.77%,hsla(18,55%,94%,0.3));
    padding: 0px;
    height: 50px
}

.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex:1px;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 13px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color:#3a3a3a;
    font-size: 18px;
}

.nav-links ul ::after {
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: #f44336;
    margin: auto;
    transition: 0.6s;
    z-index: 1;
}

.nav-links ul :hover ::after {
    width: 100%;
}

.active {
    border-bottom: 2px solid #f44336;
}

.nav .fa-solid {
    display: none;
}

.navigation-bar .fa-solid {
    display: none;
}

/* about us section */

.about-us {
  min-height: 75vh;
  width: 100%;
  background-image: linear-gradient(rgba(2, 2, 2, 0.5),rgba(2, 2, 2, 0.5)),url(../images/gc-library.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-us .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us .text-box h1 {
    font-size: 55px;
}

.about-us .text-box p {
    margin: 30px 0 40px;
    font-size: 18px;
    color: #fff;
}

.about-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.about-btn:hover {
    border: 2px solid #2fa9d2;
    background: #2fa9d2;
    transition: 0.5s;

}
/* locations section */

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.locations {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}

.location-column {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.location-column img {
    width: 100%;
    display: block;
}

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(47, 169, 210, 0.7);
    cursor: pointer;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 30px;
    bottom: 370px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
/* maps section */

.maps {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
    margin-bottom: 50px;
}

.map-wrapper {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.map {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

/* About Us Page */

.aboutUs-page{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

.aboutUs-img{
    width:100%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: block;
}

.aboutUs-textBox{
    background-color: #f8ece7;
    border-radius: 10px;
    margin-bottom:10%;
}

/* contact page */


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 14px 0px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 4px;
  }

  input[type=button] {
    background-color: #f44336;
    color: white;
    padding: 14px 0px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  input[type=submit]:hover {
    background-color: #07ffa4;
  }

  input[type=button]:hover {
    background-color: #ff1100;
  }
  .container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 60px;
    margin-bottom: 30px;
    margin-top: 20px;
  }


  /* meeting times section */

.meeting-time {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

.time {
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.meeting-column {
    flex-basis: 22%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background-color: hsla(24,38%,57%,.7);
    
}
/* footer */

.footer {
    height:150px;
    background-color: hsla(24,38%,57%,.7);
}

.social-networks {
    text-align:  center;
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: auto;
    padding: 3%;
    padding-top: 2%;
    color: #3a3a3a;
}

footer, p {
    text-align: center;
    margin: auto;
    padding-top: 1%;
}

/* Thank you page */

.thankYou-page{
    height: 75vh;
}

  .thank-you-img {
    background-image:linear-gradient(rgba(2, 2, 2, 0.5),rgba(2, 2, 2, 0.5)),url(../images/thankYou-img.jpeg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    font-size: 25px;
  }
  
  
  .middle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h4 {
    font-size: 50px;
  }

  /* contact request */

  .contactRequest-page{
    height: 75vh;
}

  .contactRequest-img {
    background-image:linear-gradient(rgba(2, 2, 2, 0.5),rgba(2, 2, 2, 0.5)),url(../images/get-back.jpeg);
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    font-size: 25px;
  }
  
  
  .contactRequest-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }