/* header section */

.page-header {
    
    font-weight: 600;
    margin: 0px;
    padding: 20px;
    color: black;
    font-size: 30px;
    background-color: #fff;
    height: fit-content;
    height: 55px;
    letter-spacing: 3px;
    }

.page-header .header .logo {
    line-height: 50px;
    float:right;
    font-size: 35px;
}


/* navigation section */

.navigation-bar {
    background: linear-gradient(270deg,#f8ece7 31.77%,hsla(18,55%,94%,0.3));
    padding: 0px;
    height: 50px
}

.nav-links {
    font-size: 100%;
    letter-spacing: 3px;    
    line-height: 50px;

}

.nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    display: block;
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color:#3a3a3a;
    font-size: px;
}

.nav-links a:hover {
    border-bottom: 2px solid #f44336;
}

.active {
    border-bottom: 2px solid #f44336;
}


/* about us section */

.about-us {
  min-height: 75vh;
  width: 100%;
  background-image: linear-gradient(rgba(2, 2, 2, 0.5),rgba(2, 2, 2, 0.5)),url(/assets/images/gc-library.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.about-us .text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-us .text-box h1 {
    font-size: 55px;
}

.about-us .text-box p {
    margin: 30px 0 40px;
    font-size: 14px;
    color: #fff;
}

/* locations section */

.locations {
    min-height: 75vh;
    width: 100%;
    background-color: aquamarine;
}

.maps {
    min-height: 75vh;
    width: 100%;
    background-color: maroon;
}