@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin: 0; 
    padding: 0;
    font-family:'Merriweather', serif;
}

h2 {
  font-size: 35px;
}

body{    
  background:linear-gradient(180deg, rgba(255,255,255,1) 55%, rgba(248,236,231,1) 100%);
  background-repeat: no-repeat;
  }
  

/* The side navigation menu */

#mySidenav-mobile { display: block; }  /* show it on small screens */

.sidenav-mobile {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #2fa9d2; /* Red*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav-mobile a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav-mobile ul li {
  list-style: none;
  display: inline-block;
  padding: 11px 20px;
  position: relative;
}

.sidenav-mobile ul li a {
  text-decoration: none;
  color:#fff;
  font-size: 18px;
}


/* When you mouse over the navigation links, change their color */
.sidenav-mobile a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav-mobile .closebtn {
  position: absolute;
  top: 0;
  left: -60px;
  font-size: 36px;
  margin-left: 50px;
}

 .button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
 }


 /* sign up page */

.signUp-page {
  height: auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  border-radius: 4px;
}

/* Add padding to container elements */
.container-signUp {
  padding: 16px;
  height: 75vh;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
