/* navigation section */

.navigation {
    background-color: grey;
    padding: 0px;
    height: 50px
}

.menu {
    font-size: 100%;
    letter-spacing: 1px;
}

.menu, .logo {
    line-height: 50px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}